{
   "folder":{
      "destination":"/home/pi",
      "temp":"/dev/shm"
   },
   "filename":{
      "prefix":"s_",
      "timestamp":"%j-%H%M%S"
   },
   "devicename":"pixma:04A9190D",
   "pushover":{
      "messages":1,
      "apikey":"",
      "userkey":""
   },
   "papersize":{
      "x":210,
      "y":297
   },
   "color":{
      "font":"YELLOW"
   },
   "ocrspace": {
	   "apikey": ""
  }
}
