{
   "folder":{
      "destination":"",
	  "temp":"/dev/shm"
   },
   "filename":{
	   "prefix":"scan_"
   },
   "devicename":"",
    "pushover":{
	  "messages": 1,
	  "apikey":"",
      "userkey":""
  }
}